<html>
<head>
<title>
{{ ansible_hostname }}</title>
<style>
body {background-color:{{ bg_color }};background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
</style>
</head>
<body>
<h1>Welcome to {{ ansible_fqdn }}</h1>
<p></p>
</body>
</html>
